base/*
!base/.gitkeep
images/*
!images/busybox.tar
mydocker
volume/*
!volume/.gitkeep
merged/*
!merged/.gitkeep
index/*
!index/.gitkeep
info/*
!info/.gitkeep
logs/*
!logs/.gitkeep
container_layer/*
!container_layer/.gitkeep
vendor
